<div class="row">
    <div class="col-md-2">
        <a routerLink="/" class="btn btn-default">
            Home
        </a>
    </div>
    <div class="col-md-2">
        <a routerLink="/purchase" class="btn btn-default">
            Purchase
        </a>
    </div>
    <div class="col-md-2">
        <a routerLink="/spend" class="btn btn-default">
            Spend
        </a>
    </div>
    <div class="col-md-2">
        <a routerLink="/history" class="btn btn-default">
            History
        </a>
    </div>
</div>
<div class="row">
    <b> ADD NEW USER</b>
</div>
<div class="row">
    <div class="col-md-6">
        <form (submit)="addNewUser()">
            <table class="table">
                <thead>

                </thead>
                <tbody>
                    <tr>
                        <td>Customer Name</td>
                        <td><input type="text" class="form-control" [(ngModel)]="newUserItem.name" name="nname"
                                (focus)="focuscalled()" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button class="btn btn-primary" type="submit">ADD</button></td>
                    </tr>
                    <tr *ngIf="IsSaved">
                        <td colspan="2">Record Saved</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>Customer List</th>
                   </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of arrCustomer">
                    <td>{{item.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>